@using System.Text.Json
@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<h3>Album Details</h3>

<MudContainer>
    <MudPaper Class="pa-4">
        <MudForm @ref="_form">
            <MudTextField T="string" Label="AlbumTitle" Required="true" RequiredError="Album Title is required!" @bind-Value="_album.Title"/>
            <MudTextField T="string" Label="Artist" Required="true" RequiredError="Artist is required!" Value="Album.ArtistName" Disabled/>
            <MudNumericField T="int?" Label="Year" @bind-Value="_album.ReleaseYear" />
            <MudNumericField T="int" Label="Stock" Value="@Album.Stock" Disabled />
            <MudTextField T="string" Label="Genre" Value="@Album.GenreName" Disabled />
        </MudForm>
    </MudPaper>
    <MudPaper Class="pa-4 mt-4">
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" OnClick="HandleResetClick" Class="mx-2">Reset</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" OnClick="HandleSubmitClick" Class="mx-2">Submit</MudButton>
    </MudPaper>
</MudContainer>

@code {
    private MudForm _form = null!;
    private PutAlbum _album = null!;

    [Parameter]
    public AlbumDetails Album { get; set; } = new()
    {
        Id = 1,
        Title = "Abbey Road",
        ArtistId = 1,
        ArtistName = "The Beatles",
        ReleaseYear = 1969,
        GenreId = 1,
        GenreName = "Rock",
        Stock = 100
    };

    protected override void OnInitialized()
    {
        _album = new()
        {
            ArtistId = Album.ArtistId,
            GenreId = Album.GenreId,
            ReleaseYear = Album.ReleaseYear,
            Title = Album.Title
        };
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;
    }

    private void HandleSubmitClick()
    {        
        var json = JsonSerializer.Serialize(_album);
        Snackbar.Add($"Album updated:{Environment.NewLine}{json}", Severity.Success);
    }

    private void HandleResetClick()
    {
        Navigation.NavigateTo("", true);
    }
}
